SELECT TOP 10000
	object.objectId as obj_id
	,object.refExtendedness as extendedness
	,matches.truth_type as truth_type
FROM dp02_dc2_catalogs.Object object
	JOIN dp02_dc2_catalogs.MatchesTruth matches on object.objectId=matches.match_objectId

In [1]:
import numpy
import pandas
from lsst.rsp import get_tap_service, retrieve_query

In [2]:
service = get_tap_service("tap")

In [26]:
my_adql_query = "SELECT TOP 10000 "+ \
	"object.objectId as obj_id"+ \
	",object.refExtendedness as extendedness"+ \
	",matches.truth_type as truth_type "+ \
    "FROM dp02_dc2_catalogs.Object object "+ \
	"JOIN dp02_dc2_catalogs.MatchesTruth matches on object.objectId=matches.match_objectId"

In [27]:
results = service.search(my_adql_query)
results_table = results.to_table().to_pandas()
results_table

                   obj_id  extendedness  truth_type
0     1248640588874548987           1.0           1
1     1248640588874548975           1.0           1
2     1248640588874548976           0.0           1
3     1248640588874548978           1.0           1
4     1248640588874548979           0.0           1
...                   ...           ...         ...
9995  1248640588874547536           1.0           1
9996  1248640588874547539           0.0           2
9997  1248640588874547540           1.0           1
9998  1248640588874547541           0.0           1
9999  1248640588874547542           1.0           1

[10000 rows x 3 columns]

In [31]:
galaxy_galaxy=results_table[(results_table["extendedness"]==1.0) & (results_table["truth_type"]==1)]

In [32]:
galaxy_galaxy.shape

(7737, 3)

In [33]:
not_galaxy=results_table[(results_table["extendedness"]==0.0) & (results_table["truth_type"]==1)]
not_galaxy.shape

(2012, 3)

In [34]:
galaxy_not=results_table[(results_table["extendedness"]==1.0) & (results_table["truth_type"]!=1)]
galaxy_not.shape

(100, 3)

In [35]:
not_not=results_table[(results_table["extendedness"]==0.0) & (results_table["truth_type"]!=1)]
not_not.shape

(149, 3)

In [37]:
not_galaxy

                   obj_id  extendedness  truth_type
2     1248640588874548976           0.0           1
4     1248640588874548979           0.0           1
7     1248640588874548989           0.0           1
25    1248640588874548966           0.0           1
34    1248640588874549034           0.0           1
...                   ...           ...         ...
9974  1248640588874547456           0.0           1
9976  1248640588874547458           0.0           1
9978  1248640588874547460           0.0           1
9993  1248640588874547534           0.0           1
9998  1248640588874547541           0.0           1

[2012 rows x 3 columns]